#root, html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	box-sizing: border-box;
}
.main h2{
  font-size: 50px;
  font-family: 'Spartan', sans-serif ;
  color: rgb(4, 77, 4);
}	
.app {
	height: 100%;
	background: linear-gradient(skyblue,pink);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
	
.main {
	width: 50%;
	height: 40%;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	padding: 2%;
	
}
	
.heading {
	display: flex;
	align-items: center;
	height: 350px;
	font-family: 'Spartan', sans-serif;
}
	
.button {
	position: relative;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	height: 200px;
	width: 210px;
	opacity: 1;
	background-color: #ffffff;
	border: 1px solid rgba(22, 76, 167, 0.6);
}
	

	
.button:hover {
	background-color: rgb(157, 157, 157);
}
	

	
